*.log
.DS_Store
.env
.env.*
!.env.example
.git
.gitignore
node_modules/
public/build/
vendor/
storage/*.key
storage/pail/
.phpunit.cache
.phpunit.result.cache
docker-compose.yml
Homestead.json
Homestead.yaml
README.md
tests/
